<section class="espacos" ng-controller="espacosController">				
	<!-- Titulo da section -->
	<a id="espacos"></a>
	<div class="titulo col-md-12 col-xs-12"><div class="espacos-svg"></div></div>
									
		<!-- Conteudo da section -->
		<div class="main-container cold-md-10 col-xs-12">				
			<div class="publicidade col-md-3 col-lg-3 col-xs-12 hidden-xs hidden-md">
			<h1>Publicidade</h1>
			<div class="publicidade-content"></div>
		</div>
				
		<div class="list-container col-md-4 col-lg-3 col-xs-12">
			<div class="item-list col-md-12 col-xs-12" ng-repeat="item in espacos | limitTo:10:0">
				<div class="checkbox col-md-2 col-xs-2" ng-class="{selecionado: item.selecionado}" ng-click="selecionaItem($index)"><span class="glyphicon glyphicon-heart"></span></div>
				<div class="name col-md-8 col-xs-9">{{item.nome}}</div>
				<div class="info col-md-2 col-xs-2" ng-click="showCard(true)" ng-show="{{item.info}}"></div>
			</div>
		</div>
				
		<div class="publicidade-arroba col-md-3 col-lg-3 col-xs-12 hidden-md">
			<h1>Publicidade</h1>
			<div class="publicidade-content"></div>
		</div>
		
		<div class="list-container col-md-4 col-lg-3 col-xs-12">
			<div class="item-list col-md-12 col-xs-12" ng-repeat="item in espacos | limitTo:10:10">
				<div class="checkbox col-md-2 col-xs-2" ng-class="{selecionado: item.selecionado}" ng-click="selecionaItem($index+10)"><span class="glyphicon glyphicon-heart"></span></div>
				<div class="name col-md-8 col-xs-9">{{item.nome}}</div>
				<div class="info col-md-2 col-xs-2" ng-click="showCard(true)" ng-show="{{item.info}}"></div>
			</div>
		</div>
			
		<div class="img-container col-md-4 col-lg-3 col-xs-12">
			<div class="section-img"></div>					
			<div class="publicidade-arroba col-md-3 col-lg-3 col-xs-12 hidden-xl hidden-xs">
				<h1>Publicidade</h1>
				<div class="publicidade-content"></div>
			</div>					
		</div>
	</div>				
</section>	